@CHARSET "UTF-8";

body{
	color:white;
	background-color: #3399ff;
}
/* -------------------------코멘트 한줄표시--------------------------------- */
#commentDetail{
	display: inline;
}
/* -------------------------별점 주기-------------------------------------- */
.star_rating {font-size:0; letter-spacing:-4px;display:none;}
.star_rating a {
    font-size:22px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ccc;
    text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#ffdb4d;}
/* ----------------------------------------------------------------------- */

/* -------------------------별점 표시-------------------------------------- */
.star_pointing {font-size:0; letter-spacing:-4px;display:inline;}
.star_pointing a {
    font-size:22px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ccc;
    text-decoration:none;
}
.star_pointing a:first-child {margin-left:0;}
.star_pointing a.on {color:#ffdb4d;}
/* ----------------------------------------------------------------------- */

/* -------------------------마커누르기전 숨기기-------------------------------- */
#commentSubmit, #CREA_NAME, #COMMENT, #infoXY{
	display: none;
}
/* ----------------------------------------------------------------------- */


/* --------------------화면---------------------  */
#line{
	z-index: 2000;
	position: absolute;
	top:80px;
	left:0px;
	width: 100%;
	height: 3px;;
/* 	background-color:#002966; */
	background-color:white;
}
#contents {
	height: 1000px;
	width: 100%;
	padding-left: 290px;
}

#title{
	position: relative;
	top:0px;
	left:0px;
	width: 1200px;
	height: 80px;
	background-color: #3399ff;
}

.mapDiv {
	position: relative;
	top:0px;
	left:0px;
	width: 900px;
	height: 500px;
}
#googleMap {
	color: black;
	width: 100%;
	height: 100%;
}

.buttonDiv {
	position: relative;
	top:-500px;
	left:910px;
	width : 300px;
	height: 500px;
	background-color: #3399ff;
	font-weight: bold;
	border-radius: 10px;
	border: 3px solid white;
}
.buttonDiv p {
	position: relative;
	display: inline-block;
	font-size: 16px;
	left: 25px;
	height: 0px;
	margin-top: 8px;
}

.info{
	position: relative;
	top:-490px;
	left:0px;
	width: 1180px;
	height: 400px;
	padding-left: 30px;
	background-color:  #3399ff;
	border-radius: 10px;
	border: 3px solid white;
}
#CREA_NAME{
	width: 100px;
}
#COMMENT{
	width: 750px;
}
/* -------------------------------------------------------------------- */

/* -------------------------- 패널 스위치  ---------------------------------- */
.switch {
	position: relative;
	display: block;
	width: 60px;
	height: 34px;
	top: -28px;
	left: 185px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #99ccff;
}

input:focus+.slider {
	box-shadow: 0 0 1px #99ccff;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}